#logo {
    width: 100%;
    length: 150px;
}

.centered {
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
}

#dsktop {
    width: 100%;
    height: 210px;
}

#blackstd {
    width: 100;
    height: 50px;
}

#service {
    position: absolute;
    text-align: center;
    top: 160%;
    color: aliceblue;
}

.heading1 {
    display: none;
}

.heading2 {
    display: none;
}

.heading3 {
    display: none;
}

.image-fluid {
    width: 85;
    height: 85%;
}

.size {
    width: 40%;
    height: 40;
}

.form4 {
    position: absolute;
    top: 350%;
    text-align: center;
    float: center;
    background-size: 150cm;
    backface-visibility: hidden;
}